<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>    
    <add key="fint.provider.adapter.sse-endpoint" value="https://play-with-fint-adapter.felleskomponent.no/provider/sse"/>
    <add key="fint.provider.adapter.status-endpoint" value="https://play-with-fint-adapter.felleskomponent.no/provider/status"/>
    <add key="fint.provider.adapter.response-endpoint" value="https://play-with-fint-adapter.felleskomponent.no/provider/response"/>
    <add key="fint.provider.adapter.organizations" value="pwfa.no"/>
    <add key="fint.provider.logLocation" value="logs"/>
    
  </appSettings>
</configuration>