<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>    
    <add key="fint.provider.adapter.sse-endpoint" value="http://localhost:49944/api/apt?id=es"/>
    <!--
    https://api.felleskomponent.no/mocks/administrasjon/personal/provider/sse/
    http://localhost:49944/api/apt?id=es
    -->
    <add key="fint.provider.adapter.status-endpoint" value="https://api.felleskomponent.no/arbeidstakere/provider/status"/>
    <add key="fint.provider.adapter.response-endpoint" value="https://api.felleskomponent.no/arbeidstakere/provider/response"/>
    <add key="fint.provider.adapter.organizations" value="rfk.no"/>
    <add key="fint.provider.logLocation" value="logs"/>
    
  </appSettings>
</configuration>